/* Remove default browser styles */
* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Hero image, titles and logo*/
header,
.hero-image {
  width: 100%;
  height: 80vh;
}
.hero-image {
  position: fixed;
  z-index: -10;
  background-image: url("images/header.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}
.top-logo {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1;
  width: 30px;
}
.body-top {
  padding: 0;
  width: 100%;
  height: 8vh;
  margin-top: -8vh;
  background-image: url("images/grass.png");
  background-position: center bottom;
  background-size: auto 100%;
  background-repeat: repeat-x;
}
.slogan-wrapper {
  position: sticky;
  position: -webkit-sticky;
  top: 40vh;
  margin: auto;
  width: 100%;
  -webkit-backdrop-filter: blur(10px);
}
h1.slogan {
  font-size: 4em;
  text-align: center;
  text-shadow: 2px 2px rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.11);
}
h2.heading {
  font-family: Pacifico, cursive;
  font-size: 4em;
  text-align: center;
  color: rgb(253, 186, 0);
  text-shadow: 3px 3px #ffffff;
  margin-bottom: 0.2em;
}

@media screen and (max-width: 999px) {
  h1.slogan {
    font-size: 3rem;
  }
  h2.heading {
    font-size: 3rem;
  }
}

@media screen and (max-width: 699px) {
  .top-logo {
    top: auto;
    bottom: 20px;
    left: 20px;
  }
  h1.slogan {
    font-size: 2.5rem;
  }
  h2.heading {
    font-size: 3rem;
  }
}

@media screen and (max-width: 350px) {
  header {
    height: 120px;
  }
  .slogan-wrapper,
  .hero-image {
    display: none;
  }
  .mission h1 {
    font-size: 1.2rem;
  }
  h2.heading {
    font-size: 2rem;
  }
}

/* General body styling */
body * {
  color: white;
  font-family: Nunito, Verdana, sans-serif;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.body-wrapper {
  width: 100%;
  font-size: 1.2em;
  background: linear-gradient(rgb(145, 189, 189), rgb(104, 179, 179));
}
footer {
  padding: 5em;
  text-align: center;
  background-color: rgb(104, 179, 179);
  width: 100%;
}

/* Navigation bar & buttons */
.nav-bar {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(252, 43, 88);
  height: 40px;
  transition: height 1s;
}
.nav-bar ul {
  flex-basis: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  transition: height 1s;
}
.nav-bar li {
  flex: 0 1 150px;
  font-size: 1.5em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar a {
  display: block;
}

@media screen and (max-width: 699px) {
  .nav-bar {
    position: fixed;
    height: auto;
  }
  .nav-bar li {
    flex: 1 1 50%;
  }
}
@media screen and (max-width: 350px) {
  .nav-bar li {
    flex: 1 1 100%;
  }
}
.button {
  -webkit-appearance: none;
  align-self: center;
  border: 0;
  height: 80px;
  width: 200px;
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: 700;
  background-color: rgb(252, 43, 88);
  margin: auto;
  color: white;
  text-align: center;
}

/* Hover/active behaviors */
.nav-bar li:active a {
  font-size: 100%;
}
.button:active {
  font-size: 130%;
}
@media screen and (min-width: 1025px) {
  .nav-bar:hover {
    height: 100px;
  }
  .nav-bar li:hover a {
    font-family: Pacifico, cursive;
    text-shadow: 2px 2px rgba(164, 41, 201, 0.767);
    font-size: 120%;
    transition: font-size 0.1s ease;
  }
  .top-logo:hover {
    width: 40px;
    transition: width 0.1s ease;
  }
  .nav-bar li:hover,
  .button:hover {
    background-color: rgb(253, 186, 0);
    transition: all 0.1s ease;
  }
  .button:hover {
    border: 5px solid white;
    font-size: 150%;
  }
}

/* Main sections */
p,
h3 {
  padding: 0.7em;
}
.section-wrapper {
  margin: auto;
  padding: 5% 10% 5% 10%;
}
.section-wrapper:nth-of-type(even) {
  background-color: rgba(255, 255, 255, 0.2);
}
.sub-section {
  margin: auto;
  max-width: 1200px;
}
.mission .logo {
  display: block;
  margin: auto;
  margin-bottom: 2rem;
  width: 25%;
  min-width: 8rem;
  max-width: 15rem;
  padding: 2em;
}
.mission h1 {
  display: block;
  margin: auto;
  max-width: 1000px;
  text-align: center;
  font-size: 1.5em;
}

@media screen and (max-width: 699px) {
  .mission.section-wrapper {
    border-top: 5px solid rgb(252, 43, 88);
  }
  .mission h1 {
    font-size: 1.5rem;
  }
}

/* Price section */
.pricing .sub-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80vw;
  padding: 5% 0% 5% 0%;
}
.price-tag {
  box-sizing: content-box;
  margin: 1.5vh;
  text-align: center;
  border-radius: 10px;
  border: 5px dashed white;
  transition: padding 2s;
  flex: 1 1 20%;
  background: linear-gradient(rgb(156, 116, 172), rgb(166, 86, 196));
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
}
.price-tag:hover {
  padding: 1rem;
}
.price-tag.exclusive {
  flex: 1 1 40%;
}
.price-tag li {
  padding: 1.2em;
}
.price-tag li:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.1);
}
.price-tag.premium li:last-of-type {
  background-color: rgb(182, 182, 182);
}
.price-tag.exclusive li:last-of-type {
  background-color: rgb(253, 186, 0);
}

/* Contact form */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact form {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
}
.contact .sub-section {
  padding: 1em;
  flex: 1 1 300px;
}
.contact input[type="text"],
textarea {
  display: block;
  padding: 0.5em;
  font-size: 1em;
  border: 3px solid rgb(253, 186, 0);
  border-radius: 5px;
  color: black;
  width: 100%;
}
.contact input[type="text"]:focus,
textarea:focus {
  transition: color 0.2s ease-out, background 0.2s ease-in;
  -webkit-transition: color 0.2s ease-out, background 0.2s ease-in;
  background-color: rgb(253, 186, 0);
}
.contact .sub-section:last-of-type * {
  margin: auto;
  display: block;
}
