/* Remove default browser styles */
* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header,
.hero-image {
  width: 100%;
  height: 80vh;
}

/* Hero image, title and logo*/
.hero-image {
  position: fixed;
  z-index: -10;
  background-image: url("images/header.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.top-logo {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1;
  width: 30px;
}

.body-top{
  padding: 0;
  width: 100%;
  height: 80px;
  margin-top: -80px;
  background-image: url("images/grass.png");
  background-position: center bottom;
  background-size: auto 100%;
  background-repeat: repeat-x;
  
  
}

.slogan {
  position: sticky;
  position: -webkit-sticky;
  top: 40vh;
  margin: auto;
  width: 100%;
  -webkit-backdrop-filter: blur(10px);
}
.slogan h1 {
  font-size: 4em;
  text-align: center;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.11);

}

/* General body styling */
body * {
  color: white;
  font-family: Nunito, Verdana, sans-serif;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.body-wrapper {
  width: 100%;
  font-size: 1.2em;
  background: linear-gradient(rgb(145, 189, 189), rgb(104, 179, 179));
}

footer {
  padding: 5em;
  text-align: center;
  background-color: rgb(104, 179, 179);
  width: 100%;
}

/* Navigation bar */

.nav-bar {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(252, 43, 88);
  height: 40px;
  transition: height 1s;
}

.nav-bar ul {
  flex-basis: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  transition: height 1s;
}
.nav-bar li {
  flex: 0 1 150px;
  font-size: 1.5em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a {
  display: block;
}

/* Navbar/button hover behavior */
.nav-bar:hover {
  height: 100px;
}
.nav-bar li:hover * {
  font-family: Pacifico, cursive;
  text-shadow: 2px 2px rgba(164, 41, 201, 0.767);
}
.nav-bar li:hover,
.contact input[type="submit"]:hover,
.pricing li:last-of-type:hover {
  background-color: rgb(253, 186, 0);
  transition: color 0.2s ease-out, background 0.2s ease-in;
  -webkit-transition: color 0.2s ease-out, background 0.2s ease-in;
}
/* Fixes navbar to top after scroll
### Replaced by position: sticky ###
.nav-bar-fixed {
  position: fixed;  
}
.nav-bar-fixed ul:hover {
  height: 100px;  
}

.nav-bar-offset {
  margin-top: 80px;;  
}
 */

/* General main sections */
h2 {
  font-family: Pacifico, cursive;
  font-size: 4em;
  text-align: center;
  color: rgb(253, 186, 0);
  text-shadow: 5px 5px #ffffff;
  margin-bottom: 0.2em;
}

p,
h3 {
  padding: 0.7em;
}

.section-wrapper {
  padding: 5% 10% 5% 10%;
}

.section-wrapper:nth-of-type(even) {
  background-color: rgba(255, 255, 255, 0.199);
}

/* Mission section */
.mission .logo {
  display: block;
  margin: auto;
  margin-bottom: 2rem;
  width: 25%;
  min-width: 8rem;
  max-width: 15rem;
  padding: 2em;
}
.mission h1 {
  display: block;
  margin: auto;
  max-width: 1000px;
  text-align: center;
  font-size: 1.5em;
}

/* Pricing table */
.pricing-sub-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80vw;
  max-width: 1000px;
  padding: 5% 0% 5% 0%;
  margin: auto;
}

.pricing-sub-section > .standard,
.premium,
.exclusive {
  box-sizing: content-box;
  margin: 2em 0.5vh 0.5vh 0.5vh;
  text-align: center;
  background-color: rgb(160, 128, 170);
  background: linear-gradient(rgb(156, 116, 172), rgb(166, 86, 196));
  border-radius: 10px;
  border: 5px dashed white;
  transition: padding 2s;
}

.price-tag:hover {
  padding: 1rem;
}

.standard,
.premium {
  flex: 1 1 20%;
}
.exclusive {
  flex: 1 1 40%;
}

/* Styles list items in pricing section */
.pricing li {
  padding: 1.2em;
}
.pricing li:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.1);
}
.pricing li:last-of-type {
  font-size: 1.5em;
  font-weight: 700;
  border-radius: 10px;
  background-color: rgb(252, 43, 88);
}

/* Contact form */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact form {
  display: flex;
  flex-wrap: wrap;
}

.contact div {
  padding: 20px;
  display: flex;
  flex-flow: column wrap;
  flex: 1 1 300px;
}
.contact label {
  margin: 0.5em 0 0.5em 0;
}
.contact input,
textarea {
  padding: 1em;
  border-radius: 5px;
  border: none;
  color: black;
}

/* Submit button */
.contact input[type="submit"] {
  -webkit-appearance: none;
  margin-top: 2em;
  align-self: center;
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: 700;
  width: 10rem;
  color: white;
  background-color: rgb(252, 43, 88);
  margin: auto;
}

/* Responsive tweaks */
@media screen and (max-width: 999px) {
  .slogan h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 3rem;
  }
  .mission {
    border-top: 5px solid rgb(252, 43, 88);
  }
}

@media screen and (max-width: 699px) {
  .nav-bar {
    position: fixed;
    height: auto;
  }
  .nav-bar:hover {
    height: auto;
  }
  .nav-bar li {
    flex: 1 1 50%;
  }

  .top-logo {
    top: auto;
    bottom: 20px;
    left: 20px;
  }
  .slogan h1 {
    font-size: 2.5rem;
  }
  .mission h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 350px) {
  header {
    height: 120px;
  }
  .slogan,
  .hero-image {
    display: none;
  }
  .mission h1 {
    font-size: 1.2rem;
  }
  h2 {
    font-size: 2rem;
  }

  .nav-bar li {
    flex: 1 1 100%;
  }
}
