/*### Remove default browser styles ###*/
* {
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
}

/*### General body styling ###*/
body * {
  color: white;
  font-family: Nunito, Verdana, sans-serif;
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 280px;
}
.site-wrapper {
  width: 100%;
  font-size: 1.2em;
  background-color: #91bdbd; /* Fallback for older browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(145, 189, 189)), to(rgb(104, 179, 179)));
  background: linear-gradient(rgb(145, 189, 189), rgb(104, 179, 179));
}

.browser-warning {
  /* Warning for incompatible browsers */
  position: fixed;
  z-index: 100;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  background-color: black;
}

@supports ((display: -webkit-box) or (display: flex)) {
  /* Hide warning on modern browsers */
  .browser-warning {
    display: none;
  }
}

footer {
  padding: 5rem;
  text-align: center;
  background-color: rgb(104, 179, 179);
  width: 100%;
}
footer a {
  text-decoration: none;
}
.back-to-top * {
  color: rgb(124, 201, 201);
  text-transform: uppercase;
}
.back-to-top a {
  margin-top: 10rem;
  display: block;
  font-size: 5rem;
  -webkit-animation: bounce;
          animation: bounce;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

/*### Hero image, titles and logo ###*/
.top-logo {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100;
  width: 30px;
}
header,
.hero-image {
  width: 100%;
  height: 80vh;
}
.hero-image {
  position: fixed;
  z-index: -10;
  background-image: url("images/header.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}
.body-top {
  padding: 0;
  width: 100%;
  height: 8vh;
  margin-top: -8vh;
  background-image: url("images/grass.png");
  background-position: center bottom;
  background-size: auto 100%;
  background-repeat: repeat-x;
}
.slogan-wrapper {
  position: absolute;
  top: 30%;
  width: 100%;
}
h1.slogan,
h2.slogan,
h2.headline {
  text-align: center;
  color: rgb(253, 186, 0);
  text-shadow: 3px 3px #ffffff;
  font-family: Pacifico, cursive;
}
h1.slogan {
  font-size: 12vw;
  line-height: 1em;
}
h2.slogan {
  font-family: Nunito, Verdana, sans-serif;
  text-shadow: 2px 2px #ffffff;
  font-size: 2.2vw;
  line-height: 2.5em;
  background-color: rgba(0, 0, 0, 0.11);
  -webkit-backdrop-filter: blur(10px);
}
h2.headline {
  font-size: 4em;
}

/*### Navigation bar & buttons ###*/
.mobile-menu {
  display: none;
}

/* Simple menubar */
.nav-bar {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgb(252, 43, 88);
}
.nav-bar a {
  display: block;
  float: left;
  width: 25%;
}
.nav-bar li {
  font-size: 1.5em;
  text-align: center;
}

/* Flexbox menubar */
@supports ((display: -webkit-box) or (display: flex)) {
  .nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 40px;
  }
  .nav-bar a {
    display: block;
    float: none;
    width: 100%;
    text-decoration: none;
  }
  .nav-bar ul {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-bar li {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 150px;
            flex: 0 1 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
  }
}

.mission.section-wrapper {
  border-top: 5px solid rgb(252, 43, 88);
}

@supports ((position: -webkit-sticky) or (position: sticky)) or (position: -webkit-sticky) {
  /* Sticky menu and headline for browsers that support it */
  .slogan-wrapper,
  .nav-bar {
    position: sticky;
    position: -webkit-sticky;
  }
  .mission.section-wrapper {
    border-top: none;
  }
}

.button {
  -webkit-appearance: none;
  -ms-flex-item-align: center;
      align-self: center;
  border: 0;
  height: 80px;
  width: 200px;
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: 700;
  background-color: rgb(252, 43, 88);
  margin: auto;
  color: white;
  text-align: center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/*### Main sections ###*/
p,
h3 {
  padding: 0.7em;
}
.section-wrapper {
  margin: auto;
  padding: 5% 10% 5% 10%;
}

.section-wrapper:nth-of-type(even) {
  background-color: rgba(255, 255, 255, 0.2);
}
.sub-section {
  margin: auto;
  max-width: 1200px;
}
/* Mission section */
.mission .logo {
  display: block;
  margin: auto;
  margin-bottom: 2rem;
  width: 25%;
  min-width: 8rem;
  max-width: 15rem;
  padding: 2em;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.mission h2 {
  display: block;
  margin: auto;
  max-width: 1000px;
  text-align: center;
  font-size: 1.5em;
}

/* Themes section */
.theme-image {
  width: 100%;
  height: 200px;
  border: 5px solid white;
  -webkit-box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Price section */
.pricing .sub-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
  padding: 5% 0% 5% 0%;
}
.price-tag {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 1.5vh;
  text-align: center;
  border-radius: 10px;
  border: 5px dashed white;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  background-color: rgb(166, 86, 196); /* Fallback for older browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(156, 116, 172)), to(rgb(166, 86, 196)));
  background: linear-gradient(rgb(156, 116, 172), rgb(166, 86, 196));
  -webkit-box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
}
.price-tag.exclusive {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
}
.price-tag li {
  padding: 1.2em;
}
.price-tag li:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.1);
}
.price-tag.premium li:last-of-type {
  background-color: rgb(182, 182, 182);
}
.price-tag.exclusive li:last-of-type {
  background-color: rgb(253, 186, 0);
}

/*### Contact form ###*/
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1000px;
}
.contact .sub-section {
  padding: 1em;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}
.contact input[type="text"],
textarea {
  display: block;
  padding: 0.5em;
  font-size: 1em;
  border: 3px solid rgb(253, 186, 0);
  border-radius: 5px;
  color: black;
  width: 100%;
}
.contact label {
  display: inline-block;
  margin: 0.5rem 0 0.5rem 0;
}
.contact input[type="text"]:focus,
textarea:focus {
  transition: color 0.2s ease-out, background 0.2s ease-in;
  -webkit-transition: color 0.2s ease-out, background 0.2s ease-in;
  background-color: rgb(253, 186, 0);
}
.contact .sub-section:last-of-type * {
  margin: auto;
  display: block;
}
/*### Animations ###*/
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

/*### Desktop adaptions ###*/
@media screen and (min-width: 1025px) {
  /* Logo bounce behavor */
  .top-logo:hover {
    -webkit-animation-name: bounce;
            animation-name: bounce;
    -webkit-animation-duration: 1.2s;
            animation-duration: 1.2s;
  }
  /* Section animation */
  .price-tag:hover,
  .theme-image:hover {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  .mission .logo:hover {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  /* Navigation animations  */
  .nav-bar {
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    -webkit-animation-name: pulse;
            animation-name: pulse;
  }
  .nav-bar a {
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
  }
  .nav-bar:hover {
    -webkit-transform: scaleY(2) translateY(10px);
            transform: scaleY(2) translateY(10px);
  }
  .nav-bar:hover a {
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
  }
  .nav-bar li:hover a {
    font-family: Pacifico, cursive;
    text-shadow: 2px 2px rgba(164, 41, 201, 0.767);
    font-size: 120%;
  }
  .nav-bar li:hover,
  .button:hover {
    background-color: rgb(253, 186, 0);
    cursor: pointer;
  }
  .button:hover {
    border: 5px solid white;
    font-size: 160%;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  /* Button click font effect */
  .nav-bar li:active a {
    font-size: 100%;
  }
  .button:active {
    font-size: 130%;
  }
}

/*### Tablet adaptions ###*/
@media screen and (max-width: 1024px) {
  /* Tablet headline tweaks */
  h1.slogan {
    font-size: 15vw;
  }
  h2.slogan {
    font-size: 4vw;
  }
  h2.headline {
    font-size: 3.5rem;
  }
}

/* ### Smartphone adaptions ### */
@media screen and (max-width: 640px) {
  /* Logo and headline */
  .top-logo {
    top: auto;
    bottom: 10px;
    left: 10px;
    width: 20px;
  }
  h1.slogan {
    font-size: 15vw;
    text-shadow: 2px 2px #ffffff;
  }
  h2.slogan {
    text-shadow: 1px 1px #ffffff;
  }
  h2.headline {
    text-shadow: 2px 2px #ffffff;
  }
  /* Box shadowing*/
  .theme-image,
  .price-tag {
    -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
  }
}
@media screen and (max-width: 480px) {
  @supports ((display: -webkit-box) or (display: flex)) {
    /* Hamburger menu on mobile */
    .mobile-menu {
      position: fixed;
      display: block;
      -ms-flex-item-align: start;
          align-self: flex-start;
      z-index: 100;
      font-size: 1.5rem;
      padding: 0 2px 0 6px;
      text-shadow: 2px 2px rgb(252, 43, 88);
    }
    .nav-bar {
      position: fixed;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      height: auto;
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
      -webkit-transition: -webkit-transform 0.3s;
      transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s;
    }
    .nav-bar ul {
      width: 100%;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
    .nav-bar.open {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    .nav-bar li {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 50%;
              flex: 1 1 50%;
    }
    .mission h2 {
      font-size: 1.5rem;
    }
    .nav-bar li:active a {
      background-color: rgb(253, 186, 0);
      font-size: 75%;
      font-family: Pacifico, cursive;
      text-shadow: 2px 2px rgba(164, 41, 201, 0.767);
    }
    .mission.section-wrapper {
      border-top: 5px solid rgb(252, 43, 88);
    }
  }
}

/*### Dumb phone tweaks ###*/
@media screen and (max-width: 320px) {
  header,
  .slogan-wrapper,
  .hero-image {
    display: none;
  }
  h2.headline {
    font-size: 2.5rem;
  }
  .mission h2 {
    font-size: 1.3rem;
  }
  @supports ((display: -webkit-box) or (display: flex)) {
    .nav-bar li {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 100%;
              flex: 1 1 100%;
    }
  }
}

/*### Browser-specific tweaks ###*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* Fix for object-fit in IE */
  .theme-image {
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
